



body {
    background-color: rgb(13,17,23);
}

p {
    color: white;
    display: inline-block;
    margin: 15px;
}

/* div{
    display: inline-block;
} */

img {
 width: 20px;
 height: 20px;
}

#logo {
    height: 50px;
    width: 170px;
    margin: 5px;
}

.sidebar{
    margin: 10px;
}

#plus {
    background-color: white;
    padding: 5px;
}

#episodes{
    background-color: darkgreen;
    padding: 5px;
}

#likedsong {
    padding: 2px;
    width: 30px;
    height: 27px;
}

.genre {
    display: block;
}

#playbar {
    background-color: rgb(24,24,24);
    margin: 10px;
    padding: 0px;
}

#song {

}

#musicplayer {
    width: 500px;
    height: 70px;
}

#options {
    width: 300px;
    height: 40px;
}

*{
    font-family: 'DM sans';
}

#navigation {
    background-color: rgb(13,17,23);   
}

#arrownavigation {
    width: 100px;
    height: 40px;
    position: relative;
    top: 5px;
    left: 60px;
}

#account {
    position: absolute;
    right: 80px;
    top: 35px;
    font-size: large;
}

#userphoto{
    border-radius: 50%;
}

h1 {
    position:absolute;
    left: 240px;
    color: white;
    top: 100px;
}

.likedsongs {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 5%;
    top: 190px;
    left: 240px;
}

#heart {
    position: absolute;
    z-index: 100;
    top: 225px;
    left: 277px;
}

h3{
    color: white;
    position: absolute;
    left: 350px;
    top: 205px;
}