body {
    background-color: rgb(13,17,23);
}

p {
    color: white;
    display: inline-block;
    margin: 15px;
}

/* div{
    display: inline-block;
} */

img {
 width: 20px;
 height: 20px;
}

#logo {
    height: 50px;
    width: 150px;
    margin: 5px;
}

.sidebar{
    margin: 10px;
}

#plus {
    background-color: white;
    padding: 5px;
}

#episodes{
    background-color: darkgreen;
    padding: 5px;
}

#likedsong {
    padding: 2px;
    width: 30px;
    height: 27px;
}

.genre {
    display: block;
}

#playbar {
    background-color: rgb(24,24,24);
    margin: 10px;
    padding: 25px;
}

#song {

}

#musicplayer {
    width: 500px;
    height: 70px;
}

#options {
    width: 300px;
    height: 40px;
}

*{
    font-family: DM san;
}

#navigation {
    background-color: rgb(13,17,23);   
}